/* file is used to style website based on specific widths */
/* Desktop styles */
@media only screen and (min-width: 1024px) {
  
  .everythingButHeader {
    display: flex;
    margin-top: 150px;
  
  }
  .profileBackground {
    margin-top: 0;
    margin-left: 5%;
  };
}

/*tablet style*/
@media only screen and (max-width: 1023px) {
  .topBar{
    background-color: #595858;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  }
  
}