/* this file is used to give style to the actual tweets themselves once rendered */
.tweetTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tweetBottom { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profileIcon{
width: 64px;
}

.logo-name{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons{
  display: flex;
  flex-direction: row;
}

#flagContainer:hover {
  color: yellow;
}

#retweetContainer:hover {
  color: yellow;
}
#heartContainer:hover {
  color: yellow;
}

.tweet:hover {
  box-shadow: 10px 10px 5px grey;
}
.tweet {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;

}